body {
    background-color: beige;
}

h2 {
    text-align: center;
}

form {
    text-align: center;
}

p {
    text-align: center;
}

table {
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

th, td {
    padding: 7px;
}

th {
    background-color: cadetblue;
}

td {
   background-color: aliceblue;
}

input {
    text-align: center;
}